.layout-wrapper {

    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    /* width: 100vw; */
    height: 100vh;
    padding-top: 4rem;
    padding-left: 0.1rem;
}

.navbar {
    /* border: 4px solid transparent; */
    display: flex;
    height: 3rem;
    background-color: white;
    -webkit-box-shadow: 2px 4px 20px -4px rgba(207, 195, 207, 1);
    -moz-box-shadow: 2px 4px 20px -4px rgba(207, 195, 207, 1);
    box-shadow: 2px 4px 20px -4px rgba(207, 195, 207, 1) !important;
    position: fixed;
    top: 0.1rem;
    left: 0.1rem;
    right: 0.1rem;
    z-index: 2;

}

.navbar>img:hover {
    transform: rotate(3deg) scale(1.1);
    transition: transform 0.1s ease-in;
    cursor: pointer;
}

.nav-icon {
    margin-top: 2px;
    height: 90%;
    width: auto;
}

.ant-layout-sider-trigger {
    background-color: rgb(223, 31, 59) !important;
}

.ant-menu {
    height: 100vh !important;
}

.sider {
    position: fixed;
    top: 3.4rem !important;
    bottom: 0rem;
    left: 0rem;
    min-width: 5rem !important;
}

/* .ant-layout-content {
    margin-left: 2rem !important;
} */

aside {
    /* position: fixed !important; */
    position: -webkit-sticky !important;
    /* Safari */
    position: sticky !important;
    top: 5rem !important;
}

main {
    padding-left: 0rem !important;
}

footer {
    padding-left: 11rem !important;
}

ul {
    padding-top: 3rem;
}