.pdf {
    width: 100%;
    aspect-ratio: 4 / 3;
}
.pdf,
html,
body {
    padding:0;
    margin:0;
    box-sizing:border-box;
    height: 98vh !important;
    margin: 0;
    padding: 0;
    width:100% !important;
}
