.pdf {
    width: 100%;
    aspect-ratio: 4 / 3;
}
.pdf,
html,
body {
    padding:0;
    margin:0;
    box-sizing:border-box;
    height: 98vh !important;
    margin: 0;
    padding: 0;
    width:100% !important;
}
iframe{
    /* margin-top:5rem; */
}
.pdf-container{
    /* border:5px solid red !important; */
    position:fixed;
    top:3rem;
    left:0rem;
    right:0rem;
    bottom:0rem;
    
}
